/*<!-- Include the Materialize CSS library -->*/



  /* Add custom styles here */
  h1 {
    text-align: center;
    margin-top: 2rem;
  }

  form {
    margin: 0 auto;
    width: 50%;
  }

  label {
    font-size: 1.2rem;
  }

  input[type="number"], select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }

  input[type="button"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: #4db6ac;
    color: white;
  }

  #differenceResult, #repaymentResult, #repaymentResult2, #repaymentResult3, #savingsDiff, #savingsPerAnnum {
    text-align: center;
    margin-top: 2rem;
  }

